doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Landing page
  // Font Awesome for Social Media Icons
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')
  link(rel='stylesheet' href='css/index.css')
.landing
  .overlay
  .content
    h1 WELCOME TO MAYONDO WOOD AND FURNITURE LIMITED
    a.button(href='/signup') Next
  footer
    | &copy; 2025 Mayondo Wood and Furniture Limited.All rights reserved
    .social-icons
      a(href='https://instagram.com' target='_blank')
        i.fab.fa-instagram
      a(href='https://tiktok.com' target='_blank')
        i.fab.fa-tiktok
      a(href='https://x.com' target='_blank')
        i.fab.fa-x-twitter
