extends layout.pug

block content
  .container.mt-5
    .form-container.mx-auto.col-lg-10
      h2.mb-4.text-center Stock Entry Form
      form.row.g-3(action="/stock", method="post")
        .col-md-6
          label.form-label(for="productName") Product Name
          select.form-select#productType(name="productName")
            option(value="" disabled, selected) Choose...
            option(value="Timber") Timber 
            option(value="Hardwood") Hardwood
            option(value="Softwood") Softwood 
            option(value="Poles") Poles 
            option(value="Chairs") Chairs 
            option(value="Tables") Tables
            option(value="Cupboards") Cupboards 
        .col-md-6
          label.form-label(for="productType") Type of Product
          select.form-select#productType(name="productType")
            option(value="" disabled, selected) Choose...
            option(value="Wood") Wood
            option(value="Furniture") Furniture
        .col-md-4
          label.form-label(for="quantity") Quantity
          input.form-control#quantity(type="number", name="quantity", placeholder="Enter quantity")
        .col-md-4
          label.form-label(for="costPrice") Cost Price (UGX)
          input.form-control#costPrice(type="number", name="costPrice", placeholder="Enter cost price")
        .col-md-4
          label.form-label(for="sellingPrice") Selling Price (UGX)
          input.form-control#sellingPrice(type="number", name="sellingPrice", placeholder="Enter selling price")
        .col-md-6
          label.form-label(for="supplierName") Supplier Name
          input.form-control#supplierName(type="text", name="supplierName", placeholder="Enter supplier name")
        .col-md-6
          label.form-label(for="date") Date
          input.form-control#date(type="date", name="datebought")
        .col-md-6
          label.form-label(for="quality") Quality
          select.form-select#quality(name="quality")
            option(value="" disabled, selected) Choose...
            option(value="High") High
            option(value="Medium") Medium
            option(value="Low") Low
        .col-md-6
          label.form-label(for="color") Color (Optional)
          input.form-control#color(type="text", name="color", placeholder="Enter color")
        .col-md-12
          label.form-label(for="measurements") Measurements (Optional)
          input.form-control#measurements(type="text", name="measurements", placeholder="Enter measurements")
        .col-12
          button.btn.submit-btn.w-100(type="submit") Submit Stock
    .table-responsive.mt-5
      table.table.table-striped.table-bordered.stock-table
        thead
          tr
            th Product Name
            th Type
            th Quantity
            th Cost Price
            th Selling Price
            th Supplier
            th Date
            th Quality
            th Color
            th Measurements
        tbody#stock-record
          tr
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js")
