body {
  background-color:  #f5f5dc;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
   
  background: #fffaf0; 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  
}


h2 {
  color: #8B4513; 
  font-weight: bold;
}

.form-label {
  color: #8B4513; 
  font-weight: 500;
}

.form-control, .form-select {
  border: 2px solid #8B4513; 
  border-radius: 8px;
}

.form-control:focus, .form-select:focus {
  border-color: #A0522D; 
  box-shadow: 0 0 5px rgba(139, 69, 19, 0.5);
}

.submit-btn {
  background-color: #8B4513;
  color: #ffffff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: #A0522D;
  color: #fff;
}


.stock-table {
  width: 100%;
  border: 2px solid #8B4513;
  border-radius: 8px;
  overflow: hidden;
}
.stock-table th,
.stock-table td {
  border: 1px solid #8B4513;
  padding: 8px 12px;
  text-align: center;
  color: #8B4513; 
}

.stock-table th {
  background-color: #fffaf0; /* same as container */
  font-weight: bold;
}

/*navbar*/
.navbar {
  background-color: #8B4513;

}
.nav-link.active {
   position: relative;
}

.nav-link.active::after {
  content: "";             /* required for pseudo-element */
  position: absolute;
  left: 0;
  bottom: 0;               /* aligns with the bottom of the link */
  width: 100%;             /* spans the entire link width */
  height: 3px;             /* thickness of the line */
  background-color: #CEA283; /* your underline color */
  border-radius: 2px;      /* optional: rounded edges */
}